.outerAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 100px;
}
.innerAdd{
    display:flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    /* align-items: center; */
}
form{
    display:flex;
    flex-direction: column;
}

input,textarea{
    padding: 20px;
    border: none;
    outline: none;
    margin: 10px;
    background: #2e2d34;
    color: #fff;
}

.checkboxAdd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 10px;
}

.addbutton{
    padding:10px;
    width: 120px;
    background: #2e2d34;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 7px;
    margin: 10px;
}