* {
    transition: 0.2s;
}
.outerDiv{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.innerDiv{
    background-color: #4e4e5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 0 10px;
}

.edit-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.closeButton{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 25px;
}

.inputClass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
}
.label{
    margin-left: 10px;
}

.editinput{
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #83838d;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
}
.editinput:focus,
.editinput:hover,
.editinput:active{
    outline: none;
    border: none;
    background: #83838d;
}
.divDoLater{
    display : flex;
    flex-direction: row;
    margin: 10px;
    accent-color: #63d6a1;
}
.DoLaterLabel{
    font-style: italic;
}
.saveButton{
    margin: 10px;
    background-color: #83838d;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 30px;
    width: 80px;
    border:none;
    outline: none;
    border-radius: 25px;
}
.saveButton:hover,
.saveButton:focus,
.saveButton:active{
    background-color: #83838d;
    outline: none;
    border: none;
    scale: 1.1;
}